#main {
    padding: 0%;
    margin-top: 50px;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(141, 153, 174, 1) 100%);
}

#lista {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 150px 150px;
}

.parrafo {
    margin: 50px;
    text-align: center;

}

.parrafo img {
    height: 100px;
}
.logo{
    width: 40px;
    height: 80px;
}