ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    right: 0%;
    top: 0;
    height: 50px;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*cambiar coleres al pasar mouse*/
li a:hover {
    background-color: #111111;
}

body {
    margin: 0%;
    padding: 0%;
}